* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

html {
  position: relative;
}
.container {
  width: 100%;
  text-align: center;
}

/* >>>>>>>>>>>> HEADER <<<<<<<<<<<<<<< */

.header-div {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
  transition: 0.3s;
  z-index: 2;
  padding: 0;
}
.fig-header {
  width: fit-content;
  display: inline-block;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  display: flex;
  height: 90px;
  justify-content: flex-end;
  align-items: center;
}

ul li {
  width: fit-content;
  list-style: none;
  height: 100%;
  display: inherit;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.home-li {
  display: none;
}
ul li a {
  text-decoration: none;
  height: fit-content;
  display: inline-block;
  font-weight: bolder;

  font-size: 1.3em;
  color: black;
  padding: 0 3px;
}

.flex-header ul li:hover {
  background-color: gainsboro;
  color: black;
}

.fa-home {
  font-size: 60px;
  cursor: pointer;
}

.fa-home:hover {
  color: #2b2a28;
}

.brandHome {
  display: flex;
  align-items: flex-start;
}
.brandHome h5 {
  position: relative;
  top: 15px;
  font-size: 1.8em;
}

.home-icon-link {
  text-decoration: none;
  color: black;
}

.fa-paw,
.fa-paw2 {
  font-size: 60px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.fa-paw {
  visibility: hidden;
}

.replace {
  height: 90px;
  width: 100%;
  background-color: black;
}

/* >>>>>>>>>>>>> MODAL <<<<<<<<<<< */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.3;
}

/* >>>>>>>>>>>HERO <<<<<<<<<<<<<<<<<< */

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2%;
  background: linear-gradient(
      307deg,
      rgba(22, 21, 27, 0.006039915966386533) 15%,
      rgba(11, 10, 14, 0.44021358543417366) 54%
    ),
    url("images/pets.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  /* background-color: rgb(131, 20, 57); */
}

.place {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

p {
  width: fit-content;
  padding: 10px;
  margin: 5px;
}

.title {
  font-size: 8vh;
  width: fit-content;
  display: inline-block;
  line-height: 2;
  z-index: 0;
  color: white;
  text-shadow: 0px 6px rgba(40, 28, 24, 0.86);
}

.fa-arrow-down {
  position: relative;
  top: 100px;
  animation: arrow 0.2s 4 0s ease;
  animation-delay: 2s;
}

.fa-arrow-down:hover {
  animation: arrow 0.2s 4 0s ease;
}

@keyframes arrow {
  0% {
    transform: skewX(10deg);
  }
  50% {
    transform: skewX(-10deg);
  }
}

/* >>>>>>>>>>>>>>>>>> WHY ADOPT A PET <<<<<<<<<<<<<<<< */

h3 {
  text-align: center;
  display: inline-block;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 25px;
}

.friends-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 900px;
  margin-bottom: 50px;
}

.friends-box {
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  width: 60%;
  height: 250px;
  overflow: hidden;
}

.friends-box p {
  display: inline-block;
  font-style: italic;
  padding: 0;
  margin: 0;
  width: fit-content;
}

.responsive-img {
  height: auto;
  max-width: 395px;
  padding: 1px;
}

/* ------ REDIRECCIONAR ENCONTRAR AMIGO-------- */

.invitation {
  background: linear-gradient(
      307deg,
      rgba(22, 21, 27, 0.006039915966386533) 15%,
      rgba(11, 10, 14, 0.44021358543417366) 54%
    ),
    url("images/friends.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invitation-cont {
  color: white;
  font-size: 2.2vh;
  text-shadow: -3px -3px 4px #23181c;
}

.find-friend {
  font-style: none;
  color: white;
}

/* <<<<<<<<<<<< FOOTER <<<<<<<<<<< */

.footer-container {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-container p {
  color: white;
  width: fit-content;
  position: relative;
  right: 4em;
  font-style: italic;
}

.footer-container p a {
  text-decoration: none;
  color: white;
}

/* <<<<<<<<<PETS /  MASCOTAS <<<<<<<<<<< */
.adopt-section-title {
  font-size: 3vh;
  margin-top: 2%;
}

.adopt-little-description {
  display: inline-block;
  font-size: 2vh;
}

.adopt-section {
  display: flex;
  min-height: 84vh;
  padding-bottom: 2%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.pets-grid-container-dog,
.pets-grid-container-cat {
  display: grid;
  justify-content: center;
  grid-template: repeat(3, 180px) / repeat(auto-fill, minmax(210px, 270px));
  grid-gap: 1.5em;
  height: auto;
  max-width: 1040px;
}

.item {
  overflow: hidden;
  border-radius: 2%;
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  overflow: hidden;
  padding-left: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: height 0.5s ease;
  background-color: #2b2a28;
}

.item:hover .overlay {
  height: 100%;
}

.animal-description {
  display: flex;
  padding-left: 10%;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  position: absolute;
  text-align: left;
  top: 25%;
  height: 90px;
}

.animal-description li {
  display: list-item;
  padding-left: 0px;
  list-style-type: circle;
}

.animal-list li {
  font-size: 1.5em;
  font-weight: bolder;
  display: inline-block;
  height: fit-content;
  cursor: pointer;
}

.animal-list button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.selected {
  text-decoration: underline;
}

.invisible {
  display: none;
}

.item img {
  width: 100%;
}

/* <<<<<<<<<<< ABOUT US <<<<<<<<<<<< */

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgAbout {
  height: 30vh;
  width: 100%;
  margin: auto;
  background-image: url("images/dog-about-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutDescription {
  width: 80%;
  height: 59vh;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.aboutTitle {
  font-size: 2.2em;
  text-align: center;
  margin-top: 20px;
}

.aboutTextContainer {
  padding: 0% 2% 0% 1%;
  line-height: 30px;
  width: 80%;
}

.aboutTextContainer p {
  font-size: 1.1em;
  font-weight: 100;
  text-align: justify;
}

/* <<<<<<<<<<< CONTACT SECTION <<<<<<<<<< */

.contact-section {
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 60vh;
  background-color: black;
  color: white;
}

.formulario-contacto p {
  display: inline-block;
}
.contact-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
}
.contact-inputs input,
.contact-inputs button {
  display: inline-block;
}

.contact-inputs input {
  background-color: black;
  border: none;
  border-bottom: 1px solid gray;
  width: 80%;
  color: white;
}

.contact-inputs input:focus {
  outline: none;
}

.contact-inputs button {
  background-color: black;
  color: white;
  width: 20%;
  height: 15%;
  cursor: pointer;
}
/* <<<<<<< MEDIA QUERIES <<<<<<<<<< */

@media screen and (max-width: 1440px) {
  .adopt-section {
    margin-top: 5%;
  }

  .aboutDescription {
    height: initial;
  }
  .contact-section {
    height: 78vh;
  }

  @media screen and (max-width: 1300px) {
    .friends-box {
      width: 80%;
      padding: 0;
    }

    .friends-box p {
      padding: 1em;
    }
  }

  .responsive-img {
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    .aboutTitle {
      font-size: 1.5em;
    }
    .aboutDescription {
      width: 100%;
    }
    .aboutTextContainer p {
      font-size: 1.1em;
      line-height: initial;
      width: initial;
    }

    .formulario-contacto {
      width: 60%;
    }
  }

  @media screen and (max-width: 1200px) {
    .title {
      font-size: 6vh;
    }
  }

  @media screen and (max-width: 860px) {
    ul li a {
      font-size: 1.2em;
    }

    .flex-header {
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    nav {
      width: 70%;
    }

    ul li a {
      height: fit-content;
      line-height: normal;
    }

    ul li a:hover {
      background-color: initial;
    }

    .title {
      position: relative;
      top: 50px;
    }
    .friends-box {
      flex-direction: column;
      align-items: center;
      height: auto;
      max-width: 395px;
    }
    .friends-cont {
      min-height: 1400px;
    }

    .hero {
      padding-left: 20px;
      justify-content: center;
    }

    .aboutDescription {
      width: 100%;
      height: 60vh;
      margin-bottom: 0;
    }
    .aboutTextContainer {
      width: 100%;
    }

    .contact-section {
      height: 85vh;
    }

    .contact-inputs button {
      width: 40%;
    }

    .formulario-contacto {
      width: 80%;
    }
  }

  @media screen and (max-width: 765px) {
    .aboutContainer {
      height: 80%;
    }
  }

  @media screen and (max-width: 680px) {
    header {
      height: 0px;
    }
    /*  */
    ul li a {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 620px) {
    .flex-header {
      height: 50vh;
    }

    ul {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .flex-header ul li a {
      font-size: 1.5em;
    }

    .flex-header ul li:hover {
      text-decoration: underline;
      background-color: white;
    }

    .home-li {
      display: inline-block;
    }

    .home-li a:hover {
      text-decoration: underline;
    }

    .fa-home,
    .brandHome h5 {
      display: none;
    }

    nav {
      width: 100%;
      height: 80%;
    }
    nav ul {
      padding: 0px;
    }

    ul li {
      height: fit-content;
    }

    .visibility {
      transform: translate(-100%);
    }

    .fa-paw {
      visibility: visible;
      background-color: black;
      position: fixed;
      z-index: 3;
      left: 0;
      top: 0;
      margin: 0;
      padding: 5px;
      border-radius: 30%;
      font-size: 3em;
    }

    .hero {
      padding: 0;
    }

    .title {
      font-size: 5vh;
    }

    .animal-list {
      flex-direction: row;
      padding: 0;
      margin-bottom: 2%;
    }

    .aboutTitle {
      display: flex;
      align-items: center;
      height: 15vh;
      margin: 0px;
    }

    .aboutContainer {
      height: 80%;
    }

    .aboutDescription {
      height: auto;
    }
  }

  @media screen and (max-width: 425px) {
    .flex-header {
      padding: 0;
    }

    .hero {
      height: 100vh;
    }
    .title {
      position: relative;
      top: -35px;
      font-size: 7vh;
    }

    h3 {
      margin-top: 25%;
    }

    .pets-grid-container-dog,
    .pets-grid-container-cat {
      max-width: 270px;
    }

    .footer-container {
      justify-content: center;
    }

    .footer-container p {
      color: white;
      position: static;
      display: inline-block;
      font-style: italic;
      padding: 0;
      margin: 0;
    }
    .friends-box {
      max-height: 400px;
    }

    .imgAbout {
      background-position: center;

      height: 20vh;
    }

    .adopt-section {
      margin-top: 15%;
    }

    .contact-section {
      height: 88vh;
    }


    .formulario-contacto {
      width: 100%;
    }

    .formulario-contacto h3 {
      margin-top: 10%;
    }
  }
  

 
}
@media screen and (max-width: 375px) {
  .friends-box:nth-child(2) p {
    padding: 8px;
  }
}
