* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

html {
  position: relative;
}
.container {
  width: 100%;
  text-align: center;
}

/* >>>>>>>>>>>> HEADER <<<<<<<<<<<<<<< */

.header-div {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
  
  padding: 0;
}
.fig-header {
  width: fit-content;
  display: inline-block;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 40px;
}

ul {
  display: flex;
  height: 90px;
  justify-content: flex-end;
  align-items: center;
}

ul li {
  width: fit-content;
  list-style: none;
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

ul li a {
  text-decoration: none;
  height: 90px;
  display: inline-block;
  line-height: 3.5;
  font-size: 25px;
  color: black;
  padding: 0 3px;
}

ul li a:hover {
  background-color: cornsilk;
  color: black;
}

.fa-paw,
.fa-paw2 {
  font-size: 60px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
}

.fa-paw {
  visibility: hidden;
}

.replace {
  height: 90px;
  width: 100%;
  background-color: black;
}

/* >>>>>>>>>>>HERO <<<<<<<<<<<<<<<<<< */

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 70px;
  background: linear-gradient(
      307deg,
      rgba(22, 21, 27, 0.006039915966386533) 15%,
      rgba(11, 10, 14, 0.44021358543417366) 54%
    ),
    url("images/friends.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  /* background-color: rgb(131, 20, 57); */
}

.place {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

p {
  width: fit-content;
  padding: 10px;
  margin: 5px;
}

.title {
  font-size: 8vh;
  width: fit-content;
  display: inline-block;
  opacity: 0;
  line-height: 2;
  color: white;
  text-shadow: -10px 0px 6px rgba(66, 28, 18, 0.86);
  animation: titleAnimation 0.5s 1 0.35s linear;
  animation-fill-mode: forwards;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translate(-300px);
  }
  100% {
    opacity: 1;
    transform: translate(xx);
  }
}

/* >>>>>>>>>>>>>>>>> AREA DE FORM <<<<<<<<<<<<< */

.form-wrapper{
  background-color: #f1f1f1;
}

.form-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formulario {
  /* position: relative;
  top: 300px;
  height: 300px; */
}

.form-cont p {
  font-weight: 500;
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

.answer {
  position: relative;
  top: 35px;
}

.form-cont input {
  width: 700px;
  height: 30px;
  border-radius: 5px;
  border: 2px groove #030202;
}

.form-cont button {
  width: 180px;
  height: 35px;
  margin-left: 10px;
  font-style: oblique;
  border-radius: 5px;
  font-weight: 500;
  background-color: #030202;
  color: white;
}

/* .cat {
  position: relative;
  top: 20%;
} */
/* >>>>>>>>>>>>>>>>>> WHY ADOPT A PET <<<<<<<<<<<<<<<< */

h3 {
  text-align: center;
  display: inline-block;
  font-size: 2em;
  margin:25px  0;
}

.friends-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 900px;
  margin-bottom: 20px;
}

.friends-box {
  border: 1px solid black;
  padding: 1px;
  display: flex;
  align-items: center;
  width: 60%;
  height: 250px;
  overflow: hidden;
}
.friends-box:hover {
  -webkit-box-shadow: -12px -8px 9px -7px rgba(128, 124, 128, 1);
  -moz-box-shadow: -12px -8px 9px -7px rgba(128, 124, 128, 1);
  box-shadow: -12px -8px 9px -7px rgba(128, 124, 128, 1);
}

.friends-box p {
  display: inline-block;
  font-style: italic;
  padding: 0;
  margin: 0;
  width: fit-content;
}

.responsive-img {
  height: auto;
  max-width: 395px;
  padding: 1px;
}

/* ------ REDIRECCIONAR ENCONTRAR AMIGO-------- */

.invitation {
  background: linear-gradient(
      307deg,
      rgba(22, 21, 27, 0.006039915966386533) 15%,
      rgba(11, 10, 14, 0.44021358543417366) 54%
    ),
    url("images/pets.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invitation-cont {
  color: white;
  font-size: 2.2vh;
}

.find-friend {
  font-style: none;
  color: white;
}

/* <<<<<<<<<<<< FOOTER <<<<<<<<<<< */

.footer-container {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-container p {
  color: white;
  width: fit-content;
  position: relative;
  right: 4em;
  font-style: italic;
}

.footer-container p a {
  text-decoration: none;
  color: white;
}

/* <<<<<<< MEDIA QUERIES <<<<<<<<<< */

@media screen and (max-width: 1300px) {
  .form-cont input {
    width: 500px;
    margin-top: 10px;
  }
  .friends-box {
    width: 80%;
    padding: 0;
  }

  .friends-box p {
    padding: 1em;
  }
}

.responsive-img {
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .title {
    font-size: 6vh;
  }
}

@media screen and (max-width: 768px) {
  .flex-header {
    padding-left: 10px;
  }
  nav {
    width: 100%;
  }
  ul {
    /* height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; */
    /* padding: 0; */
  }
  ul li {
    height: fit-content;
  }

  ul li a {
    line-height: initial;
    font-size: 3vh;
    height:fit-content;
  }

  ul li a:hover {
    background-color: initial;
  }

  .title {
    position: relative;
    top: 50px;
  }
  .friends-box {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 395px;
  }
  .friends-cont {
    min-height: 1400px;
  }

  .form-wrapper {
    height: 100vh;
    display: flex;
  }

  .hero {
    padding-left: 20px;
    justify-content: center;
  }

  .form-cont {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    max-height: 754px;
  }

  .form-cont input {
    max-width: 400px;
  }

  .form-cont p {
    font-weight: 500;
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-family: "Barlow", sans-serif;
  }

  .form-cont button {
    top: 20px;
    position: relative;
    width: 400px;
    margin: 0;
  }

  .respuesta {
    font-size: 10px;
  }
}

@media screen and (max-width: 620px) {
  .form-wrapper {
    height: 120vh;
    align-items: flex-end;
  }
  .formulario {
    position: initial;
    text-align: center;
  }

  .formulario p {
    display: inline-block;
    margin: 5px 0;
  }

  .cat {
    position: relative;
    top: 25px;
  }

  .form-cont {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 425px) {
  .flex-header{

height: 40vh;
  }

  ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
   
  }
  
  .visibility {
    visibility: hidden;
  }

  .form-wrapper {
    justify-content: center;
    height: 100vh;
  }

  .flex-header {
    padding: 0;
  }
  .fa-paw {
    visibility: visible;
    background-color: black;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    margin: 0;
    padding: 5px;
    border-radius: 30%;
    font-size: 3em;
  }

  .formulario p {
    font-size: 3vh;
  }

  .formulario input,
  button {
    max-width: 300px;
  }

  .answer {
    font-size: 3vh;
  }
  .footer-container {
    justify-content: center;
  }

  .footer-container p {
    color: white;
    position: static;
    display: inline-block;
    font-style: italic;
    padding: 0;
    margin: 0;
  }
}
